/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*--------start-----------*/
.container {
  margin: 0 auto;
  width: 1200px;
}

/*----字體樣式--------*/
body {
  font-family: Noto Sans;
  font-size: 24px;
}

.title {
  font-size: 32px;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 24px;
  color: #a00404;
}

.subtitle-black {
  font-size: 24px;
}

.block-white .p-small {
  font-size: 20px;
  width: 642px;
}

.block-black {
  font-family: PingFangSC-Regular;
  color: #ffffff;
}
/*----版型---------*/
.block-black {
  background: #415165;
  padding-top: 24px;
  padding-bottom: 36px;
}

.skills {
  margin-bottom: 79px;
}
.block-white {
  margin-bottom: 72px;
}
.block-white img {
  margin-bottom: 8px;
}

.block-white p {
  margin-bottom: 24px;
}
.block-white p {
  margin-bottom: 8px;
}

.block-white .above-img {
  margin-bottom: 8px;
}

.profile {
  margin-bottom: 79px;
}
/*--header-------*/

.headline {
  font-family: Roboto;
  margin-top: 37px;
  border-bottom: 2px solid #000;
}

.headline h1 {
  font-size: 80px;
}

.avatar {
  margin: 48px auto;
}

/*--skills------*/
.skill-line {
  margin-top: 45px;
}
.skill-line p {
  margin-bottom: 16px;
  text-align: center;
  font-family: Roboto;
}

.skill-line :nth-child(6) {
  margin-bottom: 19px;
}

/*---contact-----*/

.contact-line {
  margin-top: 40px;
  text-align: center;
}

.contact-line :nth-child(1) {
  margin-bottom: 16px;
}

.contact-line :nth-child(2) {
  margin-bottom: 13px;
}
.contact-line :nth-child(3) {
  margin-bottom: 15px;
}
.contact-line :nth-child(4) {
  margin-bottom: 16px;
}

/*--icons----*/
.social img {
  width: 48px;
  height: 48px;
  padding-left: 24px;
}
